body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}



/*Blog Posts*/

.todo-post {
    margin-bottom: 60px;
}

.todo-post-title {
    margin-bottom: 5px;
    font-size: 35px;
}


html {
   
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
 }

   /*Paralax*/
.parallax-container {
      height: 850px;
      margin-bottom: 0px;
    }

   /*Table*/
   
   table, th, td {
       border: 1px solid black;
       border-collapse: collapse;
   }   
   
   