<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic|Source+Sans+Pro:400,400italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/todo.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
     <script>tinymce.init({ selector:'textarea' });</script>
    </head>
    <header>
         <nav>
                <div class="nav-wrapper  grey darken-3">
                    <a href="#" class="brand-logo">Todo List</a>
                    
                    <ul class="right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="admin.html">Login</a></li>
                    </ul>
                </div>
            </nav>
  
    </header>
      
     <main>
        <div class="container">
            <div class="row">
                        <h1 class="center-align"></h1>
                    </div>

                <div class="row">
                    <div class="col s12 main-container">

                    </div>
                </div>
         </div>      
     </main>
    
    <div class="parallax-container">
        <div class="parallax"><img src="images/moon and sea.jpg" style="display: block; transform: translate3d(50%, 26px, 0px);"></div>
    </div>
    
    <footer class="page-footer  grey darken-3">
            <div class="container">
                <p><a href="#">back to the Top</a></p>
            </div>
            <div class="footer-copyright  grey darken-4">
                <div class="container">
                    @2016 Casas
                </div>
            </div>
        </footer>    
    
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/todo.js"></script>
       <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      
       <script id="add-blog-template" type="text/x-handlebars-template">
          <h2>Add to list</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title">Posts</label>
                  </div> 
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label for="content">Content</label>
                  </div> 
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light  grey darken-4" type="submit" name="action"><a href="index.html">Post</a></button</a>
                      </p>
                  </div>
              </div>
          </form>
      </div>
      </script>
      
      <script id="todo-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="todo-post">
               <div class="todo-post-title">{{title}}</div>
                <p class="todo-post-meta">At {{format created}} by <br>{{authorEmail}}</p>
                <div>{{content}}<br>Done<form action="process.php"><input type="checkbox" name="Done" checked="checked"></input></form></div>
            </div>
          {{/each}}
      </script>
    </body>
  </html>
        